@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
    background-color: #faf0e6;
    margin:0;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
}


header {
    width: 100%;
    display: block;
    background-color: #F3D1DC;
    position: sticky;
    text-align: center;
    color: #D2A3A9;
    font-family: 'Redressed', cursive;
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    h1 {
        margin: 0 0 0 0;
        display: inherit; 
        padding: 40px 0 40px 0;
    }
}

.holders {
    justify-content: space-around;
    margin: auto;
    background: tomato;
    line-height: 150px;
    padding: 5px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    line-height: 150px;
    border: black 1px solid;
    text-align: center;
    span {
        padding: 10px;
        margin: auto;
        font-family: 'Dancing Script', cursive;
        color: black;
        font-size: 30px;
    }
}

.holders:hover 
{
    span {
        color: white;
    }
}
